.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Home {
  width: 100%;
  min-height: 100vh;
}

.places-list {
  width: 100%;
  background-color: #ffffff;
  height: calc(100vh - 172px);
  overflow-y: scroll;
}
